# Скопируйте этот файл в .env и заполните. Файл .env никому не показывайте.

# Ваш адрес сайта без https://
DOMAIN=delom.example.ru

# Длинная случайная строка. Сгенерировать: openssl rand -base64 48
SECRET_KEY=

# Пароль базы данных. Сгенерировать: openssl rand -hex 24
POSTGRES_PASSWORD=
